@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgb(15, 145, 145);
    max-width: 1000px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

p {
    font-size: 20px;
}

.generate-quote {
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 7px;
    transition-duration: 0.4s;
    text-align: center;
    font-size: 14px;
}

.generate-quote:hover {
    opacity: 0.6;
}


.main-wrapper {
    display: flex;
    height: 400px;
    background-color: white;
    margin-top: 100px;
    border: 10px solid rgb(239, 206, 144);
    box-shadow: 3px 3px 12px 3px;
    text-align: center;
    justify-content: center;
}

.text-wrapper { 
    margin-top: 150px;

}

.button-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}






